[submodule "submodules/Depth-Anything-V2"]
	path = submodules/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "submodules/graphdecoviewer"]
	path = submodules/graphdecoviewer
	url = https://github.com/graphdeco-inria/graphdecoviewer.git
